#!/usr/bin/env nextflow

process {
    withLabel: 'gpu|cpu' {
        executor = 'slurm'
        cpus = 1
    }
}

// This should always be overwritten
params.obsid = "no_obsid"

hostname = "$HOSTNAME"

if ( hostname.startsWith("galaxy") ) {
    process {
        withLabel: 'gpu|cpu' {
            cpus = 1
        }
        withLabel: gpu {
            queue = 'gpuq'
            cpus = 8
            executor = 'slurm'
        }
        withLabel: cpu {
            queue = 'workq'
            cpus = 24
            //clusterOptions = '--cluster=magnus --account=pawsey0348'
            clusterOptions = '--account=pawsey0348'
            executor = 'slurm-magnus' 
        }
    }

    process.module = 'singularity/3.5.2.git'
    singularity {
        enabled = true
        cacheDir = '/group/mwa/singularity_images'
        //runOptions = '-e'
        envWhitelist = 'SINGULARITY_BINDPATH, SINGULARITYENV_LD_LIBRARY_PATH'
    }

    params.module_dir = '/group/mwa/software/modulefiles'
    params.presto_module_dir = '/group/mwa/software/modulefiles'
    params.presto_module = 'master'
    params.basedir = '/group/mwaops/vcs'
    params.scratch_basedir = '/astro/mwaops/vcs'
    params.search_dir = '/group/mwaops/nswainston/pulsar_search'

    workDir = "/astro/mwaops/${USER}/${params.obsid}_work"

    //Beamforming benchmarks
    params.bm_read  = 0.516
    params.bm_cal   = 0.298
    params.bm_beam  = 0.254
    params.bm_write = 0.032

    params.max_pointings = 15
}
else if ( hostname.startsWith("farnarkle") ) {
    process {
        withLabel: 'gpu|cpu' {
            executor = 'slurm'
            cpus = 1
        }
        withLabel: gpu {
            queue = 'skylake-gpu'
            memory = "25 GB"
        }
        withLabel: cpu {
            queue = 'skylake'
            memory = "1500 MB"
        }
    }

    executor.$slurm.queueSize = 1000

    //process.module = 'singularity/latest'
    //singularity {
    //    enabled = true
    //    runOptions = '-B /group -B /astro'
    //}

    params.module_dir = '/fred/oz125/software/modulefiles'
    params.presto_module_dir = '/apps/users/pulsar/skylake/modulefiles'
    params.presto_module = 'd6265c2'
    params.basedir = '/fred/oz125/vcs'
    params.scratch_basedir = '/fred/oz125/vcs'
    params.search_dir = '/fred/oz125/nswainst/pulsar_search'

    workDir = "/fred/oz125/${USER}/${params.obsid}_work"

    //Beamforming benchmarks
    //params.bm_read  = 0.266 previous benchmark
    params.bm_read  = 0.366
    params.bm_cal   = 0.070
    params.bm_beam  = 0.120//0.039
    params.bm_write = 0.013

    params.max_pointings = 120
}
