process {
    withLabel: 'gpu|cpu' {
        executor = 'slurm'
        cpus = 1
    }
}

hostname = "$HOSTNAME"

if ( hostname.startsWith("galaxy") ) {
    process {
        withLabel: gpu {
            queue = 'gpuq'
            memory = "8 GB"
        }
        withLabel: cpu {
            queue = 'gpuq'
            memory = "2 GB"
        }
    }

    singularity {
        enabled = true
        runOptions = '-B /group -B /astro'
    }

    params.basedir = '/group/mwaops/vcs'
    params.stratch_basedir = '/astro/mwaops/vcs'

    //Beamforming benchmarks
    bm_read  = 0.516
    bm_cal   = 0.298
    bm_beam  = 0.254
    bm_write = 0.032
}

//executor.queueSize = 1
