process {
    withLabel: 'gpu|cpu' {
        executor = 'slurm'
        cpus = 1
    }
}

hostname = "$HOSTNAME"

if ( hostname.startsWith("galaxy") ) {
    process {
        withLabel: gpu {
            queue = 'gpuq'
            memory = "8 GB"
        }
        withLabel: cpu {
            //queue = 'gpuq'
            queue = 'workq'
            memory = "8 GB"
            clusterOptions = '--cluster=magnus --account=pawsey0348'
            //memory = "50 GB"
        }
    }

    singularity {
        enabled = true
        cacheDir = '/group/mwa/singularity_images'
        //runOptions = '-B /group -B /astro'
    }

    params.module_dir = '/group/mwa/software/modulefiles'
    params.presto_module_dir = '/group/mwa/software/modulefiles'
    params.presto_module = 'master'
    params.singularity_module = '3.3.0'
    params.basedir = '/group/mwaops/vcs'
    params.stratch_basedir = '/astro/mwaops/vcs'

    //Beamforming benchmarks
    params.bm_read  = 0.516
    params.bm_cal   = 0.298
    params.bm_beam  = 0.254
    params.bm_write = 0.032

    params.max_pointings = 15
}
else if ( hostname.startsWith("farnarkle") ) {
    process {
        withLabel: gpu {
            queue = 'skylake-gpu'
            memory = "25 GB"
        }
        withLabel: cpu {
            queue = 'skylake'
            memory = "8 GB"
        }
    }
    withLabel: gpu {
        executor.$slurm.queueSize = 70
    }
    withLabel: cpu {
        executor.$slurm.queueSize = 1000
    }

    //singularity {
    //    enabled = true
    //    runOptions = '-B /group -B /astro'
    //}

    params.module_dir = '/fred/oz125/software/modulefiles'
    params.presto_module_dir = '/apps/users/pulsar/skylake/modulefiles'
    params.presto_module = 'd6265c2'
    params.singularity_module = 'latest'
    params.basedir = '/fred/oz125/vcs'
    params.stratch_basedir = '/fred/oz125/vcs'

    //Beamforming benchmarks
    params.bm_read  = 0.266
    params.bm_cal   = 0.070
    params.bm_beam  = 0.120//0.039
    params.bm_write = 0.013

    params.max_pointings = 120
}